@use 'global' as *;

.contact-thanks {
  margin-top: rem(52);
  line-height: 1.125;
  text-align: center;

  @include mq("md") {
    margin-top: rem(150);
  }
}

.contact-thanks__text:first-child {
  line-height: 1.125;
  
}
.contact-thanks__text:not(:first-child) {
  line-height: normal;
}

.contact-thanks__text + .contact-thanks__text {
  margin-top: rem(40);
}