@use "global" as *;
.page-layout {
  position: relative;
}

.page-layout::after {
  content: ""; /*何も入れない*/
  position: absolute;
  display: inline-block;
  width: rem(120); /*画像の幅*/
  height: rem(55); /*画像の高さ*/
  background-image: url("../images/common/deco-fishes-to-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  top: rem(0);
  left: calc(50% - min(46%, rem(372)));

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(103);
    left: calc(50% - min(48%, rem(620)));
  }
}

.page-layout--blog {
  margin-left: auto;
  margin-right: auto;
}
