@use "global" as *;

.about {
  @include mq("md") {
    position: relative;
  }
}

.about::after {
  @include mq("md") {
    content: ""; /*何も入れない*/
    position: absolute;
    display: inline-block;
    width: rem(194); /*画像の幅*/
    height: rem(181); /*画像の高さ*/
    background-image: url(../images/common/deco-coral.png);
    background-size: contain;
    vertical-align: middle;
    top: rem(676);
    right: calc(50% - min(48% ,rem(640)));
  }
}

.about__inner {
  // position: relative;
  max-width: rem(600);
}

.about__heading {
  margin-top: rem(8);

  @include mq("md") {
    margin-top: rem(10);
  }
}

.about__images {
  position: relative;
  margin-top: rem(32);
  aspect-ratio: 345/212; // 幅 / 高さ
  overflow: hidden;

  @include mq("md") {
    margin-top: rem(40);
  }
}

.about__image1 {
}

.about__image1 img {
  position: absolute;
  top: rem(26);
  right: 0;
  width: 82%;
  height: auto;
  object-fit: cover;

  @include mq("md") {
    top: rem(80);
  }
}

.about__image2 {
}

.about__image2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.about__content {
  margin-top: rem(40);

  @include mq("md") {
    position: absolute;
    top: rem(265);
    left: 55.6%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    max-width: rem(840);
  }
}

.about__title {
  color: $accent-color;
  font-family: $english-family;
  font-size: rem(40);
  font-weight: 400;
  line-height: 1;

  @include mq("md") {
    font-size: rem(80);
    color: $white;
    width: 50%;
    line-height: 1.25;
  }
}

.about__body {
  @include mq("md") {
    width: rem(400);
  }
}

.about__text {
  line-height: 1.5;
  margin-top: rem(16);

  @include mq("md") {
    color: $white;
    margin-top: 0;
  }
}

.about__text-br {
  display: none;

  @include mq("md") {
    display: inline;
  }
}

.about__button {
  text-align: center;
  margin-top: rem(50);

  @include mq("md") {
    margin-top: rem(40);
  }
}
