@use "global" as *;
.blog-cards {
  display: grid;
  gap: rem(40);

  @include mq("md") {
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards--2col {
  gap: rem(40);

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(42);
    row-gap: rem(80);
  }
}
