@use "global" as *;
.blog {
  margin-top: rem(86);
  position: relative;

  @include mq("md") {
    margin-top: 0;
    padding-top: rem(100);
  }
}

.blog::before {
  @include mq("md") {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/common/blog-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: rem(500); /* 高さを適切に設定 */
    padding-top: rem(100);
    z-index: -2;
  }
}

.blog::after {
  @include mq("md") {
    content: ""; /*何も入れない*/
    position: absolute;
    display: inline-block;
    width: rem(437); /*画像の幅*/
    height: rem(201); /*画像の高さ*/
    background-image: url(../images/common/deco-fishes-to-left-white.png);
    background-size: contain;
    vertical-align: middle;
    top: rem(24);
    left: calc(50% - min(48%, rem(620)));
  }
}

.blog__inner {
  max-width: rem(600);
  // position: relative;
}

.blog__heading {
  margin-top: rem(6);

  @include mq("md") {
    color: white;
    margin-top: 0;
  }
}

.blog-heading__title-en {
  @include mq("md") {
    color: white;
  }
}

.heading__title-en.blog-heading__title-en::first-letter {
  @include mq("md") {
    color: white;
  }
}

.blog-heading__title-ja {
  @include mq("md") {
    color: white;
  }
}

.blog__cards {
  display: grid;
  gap: rem(40);
  margin-top: rem(32);

  @include mq("md") {
    flex-direction: row;
    margin-top: rem(86);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog__card {
}

.blog__button {
  text-align: center;
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}
