@use "global" as *;
.blog-cards {
  display: grid;
  gap: rem(40);

  @include mq("md") {
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards__card {
  // background: $white;
  // box-shadow: rem(2) rem(2) rem(10) rem(0) rgba(0, 0, 0, 0.25);
  // padding: rem(16) rem(16) rem(24) rem(16);

  @include mq("md") {
    // margin-right: 0;
    // margin-left: 0;
  }
}
