@use "global" as *;
.breadcrumb {
  margin-top: rem(5);
}

.breadcrumb ul {
  display: flex;
  gap: rem(20);
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li:not(:last-child)::after {
  content: ""; /*何も入れない*/
  position: absolute;
  display: inline-block;
  width: rem(4); /*画像の幅*/
  height: rem(8); /*画像の高さ*/
  background-image: url(../images/common/breadcrumb-arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  top: rem(10);
  right: rem(-12);
}

.breadcrumb a {
  font-size: rem(14);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb--padding0 {
  padding-left: 0;
}

.breadcrumb--white li:not(:last-child)::after {
  filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(201%)
    hue-rotate(162deg) brightness(118%) contrast(100%);
}
