@use 'global' as *;

.breadcrumb {
  list-style: none;
  display: flex;
  padding-top: rem(10);
}

.breadcrumb-item {
  margin-right: rem(10);
}

.breadcrumb-item a {
  transition: color 0.3s ease;
}

.breadcrumb-item a:hover {
  color: $accent-color;
}

.breadcrumb-item::after {
  content: ">";
  margin-left: rem(10);
  color: #6c757d;
}

.breadcrumb-item:last-child::after {
  content: "";
  margin: 0;
}

.breadcrumb-item.active {
  color: #6c757d;
  font-weight: bold;
}