@use "global" as *;
.campaign-tag {
  display: inline-block;
  padding: calc(rem(6) - rem(1)) rem(10);
  text-align: center;
  background-color: $white;
  border: 1px solid $accent-color;
  color: $accent-color;
  font-size: rem(14);
  line-height: 1.57;
  transition: all 0.3s ease;

  @include mq("md") {
    width: rem(162);
  }
}

.campaign-tag:hover {
  background-color: $accent-color;
  color: $white;
}

.campaign-tag.tag-active {
  background-color: $accent-color;
  color: $white;
}
