@use "global" as *;

.drawer-icon {
  width: rem(32);
  height: rem(24);
  position: relative;
  z-index: 51;
}

.drawer-icon span {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(32);
  height: rem(1);
  border-radius: rem(3);
  background: $white;
  transition: transform 0.3s linear, top 0.3s linear;
}

.drawer-icon.is-checked span:nth-of-type(1) {
  top: rem(12);
  transform: rotate(38deg);
  width: rem(40);
  left: rem(-4);
}

.drawer-icon.is-checked span:nth-of-type(2) {
  display: none;
}

.drawer-icon.is-checked span:nth-of-type(3) {
  top: rem(12);
  transform: rotate(-38deg);
  width: rem(40);
  left: rem(-4);
}

.drawer-icon span:nth-of-type(1) {
}

.drawer-icon span:nth-of-type(2) {
  top: rem(11);
}

.drawer-icon span:nth-of-type(3) {
  top: rem(23);
}
