@use "global" as *;
.faq-accordion {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
}

.faq-accordion__title {
  color: #fff;
  cursor: pointer;
  padding: rem(16);
  font-weight: 400;
  font-size: rem(16);

  @include mq("md") {
    font-size: rem(20);
    padding: rem(25) rem(40);
  }
}

.faq-accordion__content {
  padding: rem(24) rem(16);

  @include mq("md") {
    padding: calc(rem(40) - rem(1));
  }
}

.faq-accordion__content p {
  line-height: normal;
}

/* タイトルの背景色 */
.faq-accordion .faq-accordion__title {
  background-color: $accent-color;
}

/* コンテンツボックスの枠線 */
.faq-accordion .faq-accordion__content {
  border-bottom: rem(1) solid $accent-color;
  border-left: rem(1) solid $accent-color;
  border-right: rem(1) solid $accent-color;

  @include mq("md") {
    border-top: rem(1) solid $accent-color;
  }
}

/* 矢印 */
.faq-accordion__title {
  position: relative;
}

.faq-accordion__title::before,
.faq-accordion__title::after {
  background: #fff; /* 線の色 */
  content: "";
  height: rem(2); /* 線の太さ */
  position: absolute;
  right: rem(16);
  top: 50%; /* 線の位置を縦中央に */
  transform: rotate(90deg); /* 線を縦に */
  width: rem(28); /* 線の幅 */

  @include mq("md") {
    right: rem(40);
    width: rem(32);
  }
}

/* 縦線（デフォルト） */
.faq-accordion__title::before {
  transition: transform 0.3s ease-in-out;
}

/* 横線（デフォルト） */
.faq-accordion__title::after {
  transform: rotate(180deg); /* 開いていない時はプラスに見せる */
  opacity: 1; /* 開いていない時は横線を消す（プラスに見える） */
  transition: opacity 0.3s ease-in-out;
}

/* 縦線（クリック後） */
.faq-accordion__title.open::before {
  transform: rotate(0deg); /* 開いた時に縦線だけになる（マイナスに見せる） */
}

/* 横線（クリック後） */
.faq-accordion__title.open::after {
  opacity: 0; /* 開いた時に横線を表示（マイナスにする） */
}
