@use "global" as *;
.faq-accordion {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
}

.faq-accordion__title {
  color: #fff;
  cursor: pointer;
  padding: rem(16) rem(48) rem(16) rem(16);
  font-weight: 400;
  font-size: rem(16);

  @include mq("md") {
    font-size: rem(20);
    padding: rem(25) rem(80) rem(25) rem(40);
  }
}

.faq-accordion__content {
  padding: rem(22) rem(16) rem(24);

  @include mq("md") {
    padding: calc(rem(40) - rem(1));
  }
}

.faq-accordion__content p {
  line-height: normal;
}

/* タイトルの背景色 */
.faq-accordion .faq-accordion__title {
  background-color: $accent-color;
}

/* コンテンツボックスの枠線 */
.faq-accordion .faq-accordion__content {
  border-bottom: rem(1) solid $accent-color;
  border-left: rem(1) solid $accent-color;
  border-right: rem(1) solid $accent-color;

  @include mq("md") {
    border-top: rem(1) solid $accent-color;
  }
}

/* 矢印 */
.faq-accordion__title {
  position: relative;
}

.faq-accordion__title::before,
.faq-accordion__title::after {
  background: $white;
  content: "";
  height: rem(2);
  position: absolute;
  right: rem(16);
  top: 50%;
  width: rem(28);
  transition: transform 0.3s ease-in-out;

  @include mq("md") {
    right: rem(40);
    width: rem(32);
  }
}

/* デフォルト：マイナス（−） */
.faq-accordion__title::before {
}

.faq-accordion__title::after {
  transform: rotate(0deg); /* 横線をそのまま維持（マイナス） */
}

/* クローズ（＋に変更） */
.faq-accordion__title.close::before {
  opacity: 1; /* 縦線を表示 */
  transform: rotate(90deg); /* ＋の縦線 */
}

.faq-accordion__title.close::after {
  transform: rotate(0deg); /* 横線をそのまま維持 */
}
