@use "global" as *;
.gallery {
  @include mq("md") {
    position: relative;
  }
}

.gallery::after {
  display: none;

  @include mq("md") {
    content: ""; /*何も入れない*/
    position: absolute;
    display: inline-block;
    background-image: url("../images/common/deco-fishes-to-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    top: rem(-80);
    right: calc(50% - min(44%, rem(670)));
    width: rem(301); /*画像の幅*/
    height: rem(138); /*画像の高さ*/
  }
}

.gallery__items {
  margin-top: rem(44);
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include mq("md") {
    margin-top: rem(80);
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-flow: dense;
    width: auto;
    grid-auto-rows: 1fr;
  }
}

.gallery__item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 345 / 218; // デフォルトの小さいサイズ

  @include mq("md") {
    grid-column: span 6;
    grid-row: span 1;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 1, 6番目のアイテム（大きい画像）
.gallery__item:nth-child(6n + 1),
.gallery__item:nth-child(6n + 6) {
  aspect-ratio: 345 / 524; // 大きい画像用

  @include mq("md") {
    aspect-ratio: 492 / 746;
    grid-column: span 5;
    grid-row: span 2;
  }
}
