@use "global" as *;

.info {
  padding-top: rem(79);
  padding-bottom: rem(82);
  background-color: #ddf0f1;

  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(77);
  }
}

.info__inner {
  max-width: rem(600);
}

.info__heading {
  margin-top: rem(6);

  @include mq("md") {
    margin-top: 0;
  }
}

.info__content {
  margin-top: rem(31);

  @include mq("md") {
    margin-top: rem(45);
    display: flex;
    gap: rem(45);
  }
}

.info__image {
  aspect-ratio: 345/227; // 幅 / 高さ
  overflow: hidden;

  @include mq("md") {
    width: 50%;
  }
}

.info__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info__body {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(61);
    width: 45%;
  }
}

.info__body-title {
  font-size: rem(20);
  font-weight: 700;
  line-height: 1.2;
  position: relative;

  @include mq("md") {
    font-size: rem(24);
    line-height: 1;
  }
}

.info__body-title::after {
  background-color: #408f95;
  bottom: rem(-4);
  content: "";
  display: block;
  height: rem(1);
  left: 0;
  position: absolute;
  width: 100%;

  @include mq("md") {
    bottom: rem(-8);
  }
}

.info__body-text {
  margin-top: rem(12);
  line-height: 1.5;

  @include mq("md") {
    margin-top: rem(16);
  }
}

.info__button {
  margin-top: rem(40);
  text-align: center;
}
