@use "global" as *;

.mv {
  position: relative;
  height: 100vh;
}

.mv__inner {
}

.mv__image {
  // aspect-ratio: 375/667; // 幅 / 高さ
  // overflow: hidden;

  @include mq("md") {
  }
}

.mv__image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.mv__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.mv__title {
  color: #fff;
  font-family: Lato;
  font-size: rem(40);
  font-weight: 400;
  letter-spacing: 0.3em;
  text-indent: 0.3em;

  @include mq("md") {
    font-size: rem(80);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.54em;
    text-indent: 0.54em;
  }
}

.mv__subtitle {
  color: #fff;
  font-family: Gotu;
  font-size: rem(20);
  line-height: 1;
  text-align: center;

  @include mq("md") {
    text-align: center;
    font-size: rem(24);
  }
}
