@use "global" as *;

.page-sitemap-nav {
}

.page-sitemap-nav__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(33) rem(27);

  @include mq("md") {
    grid-template-columns: repeat(4, 1fr);
  }
}

.page-sitemap-nav__item--1 {
  order: 1;
  padding-left: rem(12);
}

.page-sitemap-nav__item--2 {
  order: 3;
  margin-top: rem(-4);
  padding-left: rem(9);

  @include mq("md") {
    order: 2;
    padding-left: rem(47);
    margin-top: 0;
  }
}

.page-sitemap-nav__item--3 {
  order: 2;
  padding-left: rem(18);

  @include mq("md") {
    order: 3;
    padding-left: rem(70);
  }
}

.page-sitemap-nav__item--4 {
  order: 4;
  padding-left: rem(18);

  @include mq("md") {
    padding-left: rem(94);
  }
}

.page-sitemap-nav__items .page-sitemap-nav__item:not(:first-child) {
  margin-top: rem(18);
}

.page-sitemap-nav__items .page-sitemap-nav__item--head:not(:first-child) {
  margin-top: rem(34);
}

.page-sitemap-nav__item--head::after {
  content: "";
  display: block;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/icon-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: rem(4);
  left: rem(-11);
}
.page-sitemap-nav__item {
  padding-left: rem(12);
  line-height: 1.5;
  white-space: nowrap;
}

.page-sitemap-nav__item--head {
  position: relative;
  font-weight: $bold;
  line-height: 1.5;
}

.page-sitemap-nav__item--head--lh {
  line-height: 1.2;
}

@media (any-hover: hover) {
  .page-sitemap-nav__item a:hover {
    opacity: 0.6;
  }
}
