@use "global" as *;
.page-sitemap {
  position: relative;
}

.page-sitemap::after {
  content: ""; /*何も入れない*/
  position: absolute;
  display: inline-block;
  width: rem(120); /*画像の幅*/
  height: rem(55); /*画像の高さ*/
  background-image: url("../images/common/deco-fishes-to-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  top: rem(-21);
  left: calc(50% - min(46%, rem(372)));
  z-index: -1;

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(-90);
    left: calc(50% - min(48%, rem(620)));
  }
}

.page-sitemap__inner {
}

.page-sitemap__copyright {
  text-align: center;
  margin-top: rem(19);

  @include mq("md") {
    margin-top: rem(57);
  }
}
