@use "global" as *;

.page-voice {
}

.voice__cards.page-voice__cards {
  margin-top: rem(39);
}

.page-voice__pagination {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(74);
  }
}
