@use "global" as *;
.pagination {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}
.pagination img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.pagination a {
  text-decoration: none;
  color: #0073e6;
  padding: 8px 12px;
  border: 1px solid #0073e6;
  border-radius: 5px;
}
.pagination a:hover {
  background-color: #0073e6;
  color: #fff;
}
.u-desktop {
  display: none;
}

.pagination img:first-child {
  margin-right: 40px;
}
.pagination img:last-child {
  margin-left: 40px;
}
.pagination a {
  margin: 0 6px;
}
