@use "global" as *;
.page-blog__content {
  margin-top: rem(52);

  @include mq("md") {
    margin-top: rem(150);
  }
}

.page-blog__pagination {
  margin-top: rem(80);
}

.page-blog__date {
  font-family: Gotu;
  font-size: rem(14);
  line-height: 1.285;
}

.page-blog__heading {
  margin-top: rem(8);
  padding-bottom: rem(4);
  font-size: rem(24);
  font-weight: 500;
  border-bottom: 1px solid $accent-color;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-blog__image {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.page-blog__image img {
  width: 100%;
  height: auto;
}

.page-blog__text {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

// list
.page-blog__lists {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}

.page-blog__list {
  display: flex;
  flex-direction: column;
  gap: rem(4);
}

.page-blog__list-item {
  display: flex;
  align-items: center;
  gap: rem(4);
}

.page-blog__list-item::before {
  content: "";
  width: rem(18); /* SVGのサイズ調整 */
  height: rem(18);
  background: url("../images/common/icon-blue.png");
  background-repeat: no-repeat;
  background-position: top rem(1) center;
  background-size: contain;
}
