@use "global" as *;
.page-content__wrapper {
  @include mq("md") {
    max-width: rem(1130);
    padding-left: rem(25);
    padding-right: rem(25);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: rem(80);
  }
}

.page-content__main {
  @include mq("md") {
    width: 70%;
  }
}

.page-content__main--page {
  @include mq("md") {
    margin-top: rem(-8);
  }
}

.page-content__main-inner {
  width: 100%;
  padding-right: rem(15);
  padding-left: rem(15);
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-content__main-inner--blog {
  padding-right: rem(21);
  padding-left: rem(21);
}

.page-content__side {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: 0;
    width: 29%;
  }
}

.page-content__side-inner {
  padding-right: rem(40);
  padding-left: rem(40);

  @include mq("md") {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content__side-item {
  &:not(:first-child) {
    margin-top: rem(81);
  }
}