@use "global" as *;

.page-campaign-cards {
  margin-top: rem(40);
}

.page-campaign-cards__inner {
  margin-right: rem(32);
  margin-left: rem(32);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(30);

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(70);
    column-gap: rem(40);
    margin-right: 0;
    margin-left: 0;
  }
}

.page-campaign-cards__card--side {
  gap: rem(32);

  @include mq("md") {
    gap: rem(30);
  }
}
