@use "global" as *;

.page-info__tags {
  margin-top: rem(120);
  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: rem(500);

  @include mq("md") {
    gap: rem(90);
    margin-top: rem(150);
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
}

.page-info__tag {
  color: $accent-color;
  background-color: #ddf0f1;
  // flex: 1;
  font-size: rem(14);
  box-shadow: rem(2) rem(2) rem(4) 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 100%;
  padding: rem(9) rem(10);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  transition: all 0.3s ease;

  @include mq("md") {
    font-size: rem(24);
    padding: rem(12) rem(10);
  }
}

.page-info__tag::before {
  @include mq("md") {
    content: ""; /*何も入れない*/
    display: inline-block;
    width: rem(64); /*画像の幅*/
    height: rem(64); /*画像の高さ*/
    background-image: url("../images/common/whale.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease;
  }
}

@media (hover: hover) {
  .page-info__tag:hover {
    color: $white;
    background-color: $accent-color;
  }

  .page-info__tag:hover::before {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%)
      hue-rotate(124deg) brightness(107%) contrast(100%);
  }
}

.page-info__tag.tag-active {
  color: $white;
  background-color: $accent-color;
}

.page-info__tag.tag-active::before {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(0%)
    hue-rotate(124deg) brightness(107%) contrast(100%);
}

.page-info__cards {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(26);
  }
}
