@use "global" as *;
.page-contact {
  position: relative;
}

.page-contact::after {
  content: ""; /*何も入れない*/
  position: absolute;
  display: inline-block;
  width: rem(120); /*画像の幅*/
  height: rem(55); /*画像の高さ*/
  background-image: url("../images/common/deco-fishes-to-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  top: rem(-24);
  left: calc(50% - min(46%, rem(372)));
  z-index: -1;

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    left: calc(50% - min(48%, rem(620)));
  }
}

.page-contact__inner {
  @include mq("md") {
    max-width: calc(rem(700) + rem(25) * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.page-contact__privacy {
  margin-top: rem(36);
  display: flex;
  justify-content: center;
  margin-left: rem(30);

  @include mq("md") {
    margin-top: rem(78);
  }
}

.page-contact__button {
  margin-top: rem(24);
  text-align: center;

  @include mq("md") {
    margin-top: 38px;
  }
}
