@use "global" as *;
.page-campaign__cards {
  margin-top: rem(40);
  margin-right: rem(32);
  margin-left: rem(32);

  @include mq("md") {
    margin-right: 0;
    margin-left: 0;
  }
}

.page-campaign__pagination {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(80);
  }
}

.campaign-card__title.campaign-card__title--large {
  font-size: rem(24);
}
