@use "global" as *;

.page-sitemap-nav {
}

.page-sitemap-nav__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include mq("md") {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.page-sitemap-nav__item--1 {
  order: 1;
  padding-left: rem(9);
}

.page-sitemap-nav__item--2 {
  order: 3;
  margin-top: rem(-4);
  padding-left: rem(9);

  @include mq("md") {
    order: 2;
    padding-left: rem(47);
    margin-top: 0;
  }
}

.page-sitemap-nav__item--3 {
  order: 2;
  padding-left: rem(1);
  padding-left: rem(19);

  @include mq("md") {
    order: 3;
    padding-left: rem(70);
  }
}

.page-sitemap-nav__item--4 {
  order: 4;
  padding-left: rem(19);
  margin-top: rem(-3);

  @include mq("md") {
    padding-left: rem(94);
    margin-top: 0;
  }
}

.page-sitemap-nav__heading {
  position: relative;
}

.page-sitemap-nav__heading::after {
  content: "";
  display: block;
  width: rem(18);
  height: rem(18);
  background-image: url("../images/common/icon-black.png");

  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: rem(22);
  left: rem(-9);
}

.page-sitemap-nav__heading a {
  font-weight: $bold;
  display: block;
  padding: rem(21) rem(15);
  line-height: 1;

  @include mq("md") {
    padding-right: 0;
  }
}

@media (any-hover: hover) {
  .page-sitemap-nav__heading a:hover,
  .page-sitemap-nav__body li a:hover {
    opacity: 0.6;
  }
}

.page-sitemap-nav__body li a {
  display: block;
  padding: rem(13) rem(15);
  line-height: 1;
  white-space: nowrap;
}

.page-sitemap-nav__body li:nth-of-type(1) {
  margin-top: rem(-8);
}

.page-sitemap-nav__body li:last-of-type {
  margin-bottom: rem(8);
}
