@use "global" as *;
.price {
  background-color: #ddf0f1;
  padding-top: rem(80);
  padding-bottom: rem(84);
  margin-top: rem(82);

  @include mq("md") {
    padding-top: rem(96);
    padding-bottom: rem(102);
    margin-top: rem(145);
    position: relative;
  }
}

.price::after {
  @include mq("md") {
    content: ""; /*何も入れない*/
    position: absolute;
    display: inline-block;
    width: rem(437); /*画像の幅*/
    height: rem(201); /*画像の高さ*/
    background-image: url("../images/common/deco-fishes-to-left.png");
    background-size: contain;
    vertical-align: middle;
    bottom: rem(60);
    left: calc(50% - min(48%, rem(620)));
  }
}

.price__inner {
}

.price__heading {
  margin-top: rem(5);
}

.price__content {
  @include mq("md") {
    display: flex;
    margin-top: rem(44);
    gap: rem(93);
  }
}

.price__head-image {
  margin-top: rem(31);
  aspect-ratio: 345/227; // 幅 / 高さ
  overflow: hidden;

  @include mq("md") {
    display: none;
  }
}

.price__head-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__lists {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(0);
  }
}

.price-lists__list {
}

.price__pc-image {
  display: none;

  @include mq("md") {
    display: block;
    width: 100%;
    max-width: rem(492);
    aspect-ratio: 492/746; // 幅 / 高さ
    overflow: hidden;
  }
}

.price__pc-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__button {
  margin-top: rem(42);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}
