@use "global" as *;
.voice-tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16) rem(21);
  width: rem(345);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(32);
    width: 100%;
  }
}
